.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
  background-color: #2D3250;
}
.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
}
.profile-details-name {
  font-size: 24px;
  font-family: "Poppins SemiBold";
}
.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}
.profile-details-role h1 {
  height: 54px;
  font-size: 40px;
  font-family: cursive;
}
.primary-text {
  color: (--white);
}
.highlighted-text {
  color: var(--dark-orange);
}
.profile-role-tagline {
  font-size: 19px;
  margin: 5px 0 0 0;
  font-family: "Poppins Light";
}
.profile-options .highlighted-btn {
  margin: 0 0 0 28px;
}
.profile-options .highlighted-btn:hover {
  margin: 0 0 0 28px;
}
.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 2px 1px 0px var( --orange);
  border-radius: 50%;
  height: 380px;
  width: 380px;
  margin: 0 0px 0 100px;
}
.profile-picture-background {
  height: 97%;
  width: 97%;
  background-image: url("https://img.freepik.com/foto-gratis/hermoso-retrato-gato-cerca_23-2149152054.jpg?w=740&t=st=1704587639~exp=1704588239~hmac=ee3b32b750468d8c4fb65ed4b67cc555136c4214cf3818f674a05b4b72e54029");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  background-repeat: no-repeat;
}
.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-in-out;
}
.colz .colz-icon i{
  color: white;
  padding: 16px;
  padding-left: 0px;
  font-size: 24px;
  transition: 0.5s ease-in-out;
}
.colz .colz-icon i:hover{
  transform: scale(1.5);
  transition: 0.5s ease-in-out;
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    height: auto;
    align-items: stretch;
  }

  .profile-parent {
    flex-direction: column;
  }

  .profile-details-name {
    font-size: 18px;
  }

  .profile-details-role h1 {
    font-size: 30px;
  }

  .profile-role-tagline {
    font-size: 16px;
  }

  .profile-options .highlighted-btn {
    margin: 10px 0;
  }

  .profile-picture {
    margin: 0;
  }
}


