.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 2px 1px 0px var(--orange);
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0 0px 0 100px;
  }
  .profile-picture-background {
    height: 97%;
    width: 97%;
    background-image: url("https://img.freepik.com/foto-gratis/hermoso-retrato-gato-cerca_23-2149152054.jpg?w=740&t=st=1704587639~exp=1704588239~hmac=ee3b32b750468d8c4fb65ed4b67cc555136c4214cf3818f674a05b4b72e54029");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-repeat: no-repeat;
  }
  .profile-picture-background:hover {
    transform: scale(1.07);
    transition: 1s ease-in-out;
  }