.profile-container {
  display: flex;
  height: 250px;
  width: 100%;
  background-color: #282828;
}

.profile-parent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: aliceblue;
}


.profile-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.profile-details-name {
  font-size: 20px;
  font-family: "Poppins SemiBold";
}
.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 20px 0;
}
.profile-details-role h1 {
  font-family: cursive;
}

@media only screen and (max-width: 767px) {
  .profile-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-details {
    margin: 175px 0 10px 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}