.img-profile {
  height: 230px;
  margin: 90px 0px 0px 80px;
  border-radius: 100%;
}

.container-profile-img {
  position: relative;
  width: 300px;
  height: 300px;
}

.background-img {
  margin-top: -60px;
  width: 400px;
  height: 550px;
  background-image: url("./../../../assets/header/blob-haikei-5.svg");
  background-size: cover;
  background-position: center;
  animation: rotateImage 6s linear infinite;
}

.foreground-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 767px) {
  .img-profile {
    display: flex;
    justify-content: center;
    height: 170px;
    margin: 20px 0px 0px 70px;

  }
  .foreground-img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  .background-img {
    margin-top: 0px;
    width: 0px;
    height: 0px;
    background-image: none;
    animation: none;
  }
}
